!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CTTExp
    %link{:href => "http://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    - if user_signed_in?
      %main.offset
        .container-fluid
          = yield
    - else
      %main
        .container
          = yield
    = render 'layouts/footer'
- flash.each do |name, msg|
  - if msg.is_a?(String)
    :javascript
          Materialize.toast('#{escape_javascript msg}', 4000);